.error {
	font-size: 80px;
	line-height: 70px;
	height: 500px;
	margin-left: 67px;
	padding: 68px 108px;
	&__description {
		background: red;
		color: white;
		font-size: 12px;
		padding: 10px 20px;
	}
}
