@-webkit-keyframes color-change-2x {
	0% {
		background: lightgray;
	}
	100% {
		background: rgb(137, 139, 141);
	}
}
@keyframes color-change-2x {
	0% {
		background: lightgray;
	}
	100% {
		background: rgb(137, 139, 141);
	}
}
